In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../../data/extracted/cleaned_translated_tables.csv')
df

,db_id,column_names,column_names_original,table_names,table_names_original,db_id_id,column_names_id,column_names_original_id,table_names_id,table_names_original_id
0,perpetrator,*,*,perpetrator,perpetrator,pelaku,*,*,pelaku,pelaku
1,NaN,perpetrator id,Perpetrator_ID,people,people,NaN,id_pelaku,id_pelaku,orang,orang
2,NaN,people id,People_ID,NaN,NaN,NaN,id_orang,id_orang,NaN,NaN
3,NaN,date,Date,NaN,NaN,NaN,tanggal,tanggal,NaN,NaN
4,NaN,year,Year,NaN,NaN,NaN,tahun,tahun,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4664,NaN,width,width,NaN,NaN,NaN,lebar,lebar,NaN,NaN
4665,NaN,catalog entry id,catalog_entry_id,NaN,NaN,NaN,id_entri_katalog,id_katalog_entry,NaN,NaN
4666,NaN,catalog level number,catalog_level_number,NaN,NaN,NaN,nomor_tingkat_katalog,nomor_tingkat_katalog,NaN,NaN
4667,NaN,attribute id,attribute_id,NaN,NaN,NaN,id_atribut,id_atribut,NaN,NaN
4668,NaN,attribute value,attribute_value,NaN,NaN,NaN,nilai_atribut,atribut_nilai,NaN,NaN

In [22]:
df_db_id = df[['db_id','db_id_id']]
df_db_id = df_db_id.dropna()
df_db_id.columns = ['english', 'indonesia']
df_db_id

              english               indonesia
0         perpetrator                  pelaku
14          college_2      perguruan_tinggi_2
61     flight_company  penerbangan_perusahaan
82             icfp_1                  icfp_1
95       body_builder             binaragawan
...               ...                     ...
4571        company_1            perusahaan_1
4600   workshop_paper          bengkel_kertas
4612       epinions_1               epinion_1
4625       party_host              pesta_host
4639  product_catalog          katalog_produk

[166 rows x 2 columns]

In [25]:
df_tables = df[['table_names_original','table_names_original_id']]
df_tables = df_tables.dropna()
df_tables.columns = ['english', 'indonesia']
df_tables

                                     english                     indonesia
0                                perpetrator                        pelaku
1                                     people                         orang
14                                 classroom                         kelas
15                                department                    departemen
16                                    course                        kursus
...                                      ...                           ...
4639                   Attribute_Definitions              Atribut_Definisi
4640                                Catalogs                       Katalog
4641                       Catalog_Structure              Katalog_Struktur
4642                        Catalog_Contents                   Katalog_Isi
4643  Catalog_Contents_Additional_Attributes  Katalog_Isi_Tambahan_Atribut

[876 rows x 2 columns]

In [24]:
df_col_names_ori = df[['column_names_original','column_names_original_id']]
df_col_names_ori.columns = ['english', 'indonesia']
df_col_names_ori

                   english              indonesia
0                        *                      *
1           Perpetrator_ID              id_pelaku
2                People_ID               id_orang
3                     Date                tanggal
4                     Year                  tahun
...                    ...                    ...
4664                 width                  lebar
4665      catalog_entry_id       id_katalog_entry
4666  catalog_level_number  nomor_tingkat_katalog
4667          attribute_id             id_atribut
4668       attribute_value          atribut_nilai

[4669 rows x 2 columns]

In [26]:
df_combined = pd.concat([df_db_id, df_tables, df_col_names_ori], ignore_index=True)
df_combined

                   english               indonesia
0              perpetrator                  pelaku
1                college_2      perguruan_tinggi_2
2           flight_company  penerbangan_perusahaan
3                   icfp_1                  icfp_1
4             body_builder             binaragawan
...                    ...                     ...
5706                 width                   lebar
5707      catalog_entry_id        id_katalog_entry
5708  catalog_level_number   nomor_tingkat_katalog
5709          attribute_id              id_atribut
5710       attribute_value           atribut_nilai

[5711 rows x 2 columns]

In [16]:
dict = df_combined.set_index('column_names_original')['column_names_original_id'].to_dict()

dict

{'*': '*',
 'Perpetrator_ID': 'id_pelaku',
 'People_ID': 'id_orang',
 'Date': 'tanggal',
 'Year': 'tahun',
 'Location': 'lokasi',
 'Country': 'negara',
 'Killed': 'terbunuh',
 'Injured': 'terluka',
 'Name': 'nama',
 'Height': 'tinggi',
 'Weight': 'berat',
 'Home Town': 'kota_asal',
 'building': 'bangunan',
 'room_number': 'nomor_kamar',
 'capacity': 'kapasitas',
 'dept_name': 'nama_departemen',
 'budget': 'anggaran',
 'course_id': 'id_kursus',
 'title': 'judul',
 'credits': 'kredit',
 'ID': 'pengenal',
 'name': 'nama',
 'salary': 'gaji',
 'sec_id': 'id_detik',
 'semester': 'semester',
 'year': 'tahun',
 'time_slot_id': 'id_waktu_slot',
 'tot_cred': 'total_kredit',
 'grade': 'nilai',
 's_ID': 'id_s',
 'i_ID': 'id_saya',
 'day': 'hari',
 'start_hr': 'mulai_jam',
 'start_min': 'mulai_menit',
 'end_hr': 'akhir_jam',
 'end_min': 'akhir_min',
 'prereq_id': 'id_prasyarat',
 'id': 'pengenal',
 'City': 'kota',
 'IATA': 'iata',
 'ICAO': 'icao',
 'Type': 'jenis',
 'Principal_activities': 'kegiatan_kepala_sekolah',
 'Incorporated_in': 'dimasukkan_di',
 'Group_Equity_Shareholding': 'grup_ekuitas_kepemilikan_saham',
 'Vehicle_Flight_number': 'nomor_penerbangan_kendaraan',
 'Pilot': 'pilot',
 'Velocity': 'kecepatan',
 'Altitude': 'ketinggian',
 'airport_id': 'id_bandara',
 'company_id': 'id_perusahaan',
 'instID': 'id_inst',
 'country': 'negara',
 'authID': 'id_autentik',
 'lname': 'nama',
 'fname': 'nama_f',
 'paperID': 'id_kertas',
 'authOrder': 'pesanan_autentik',
 'Body_Builder_ID': 'ID_Binaragawan',
 'Snatch': 'merebut',
 'Clean_Jerk': 'bersih_brengsek',
 'Total': 'total',
 'Birth_Date': 'tanggal_lahir',
 'Birth_Place': 'tempat_lahir',
 'Storm_ID': 'id_badai',
 'Dates_active': 'tanggal_aktif',
 'Max_speed': 'kecepatan_maks',
 'Damage_millions_USD': 'kerusakan_jutaan_usd',
 'Number_Deaths': 'nomor_kematian',
 'Region_id': 'id_wilayah',
 'Region_code': 'kode_wilayah',
 'Region_name': 'nama_wilayah',
 'Number_city_affected': 'nomor_kota_terkena_dampak',
 'Aircraft_ID': 'id_pesawat',
 'Order_Year': 'pesanan_tahun',
 'Manufacturer': 'pabrikan',
 'Model': 'model',
 'Fleet_Series': 'armada_seri',
 'Powertrain': 'unit_daya',
 'Fuel_Propulsion': 'bahan_bakar_propulsi',
 'Pilot_ID': 'id_pilot',
 'Pilot_name': 'nama_pilot',
 'Rank': 'pangkat',
 'Age': 'usia',
 'Nationality': 'kebangsaan',
 'Position': 'posisi',
 'Join_Year': 'bergabung_tahun',
 'Team': 'tim',
 'Record_ID': 'id_rekam',
 'Race_ID': 'id_ras',
 'Class': 'kelas',
 'Track_ID': 'id_track',
 'Seating': 'tempat_duduk',
 'Year_Opened': 'tahun_dibuka',
 'aid': 'bantuan',
 'homepage': 'beranda',
 'oid': 'id_o',
 'cid': 'id_c',
 'did': 'telah_melakukan',
 'jid': 'id_j',
 'keyword': 'kata kunci',
 'kid': 'anak',
 'abstract': 'abstrak',
 'citation_num': 'kutipan_num',
 'pid': 'id_p',
 'reference_num': 'referensi_num',
 'continent': 'benua',
 'cited': 'dikutip',
 'citing': 'mengutip',
 'address_id': 'id_alamat',
 'address_details': 'alamat_detail',
 'staff_id': 'id_staf',
 'staff_gender': 'staf_gender',
 'staff_name': 'nama_staf',
 'supplier_id': 'id_pemasok',
 'supplier_name': 'nama_pemasok',
 'supplier_phone': 'pemasok_telepon',
 'dept_store_chain_id': 'id_dept_store_chain',
 'dept_store_chain_name': 'dept_store_chain_name',
 'customer_id': 'id_pelanggan',
 'payment_method_code': 'kode_metode_pembayaran',
 'customer_code': 'kode_pelanggan',
 'customer_name': 'nama_pelanggan',
 'customer_address': 'alamat_pelanggan',
 'customer_phone': 'pelanggan_telepon',
 'customer_email': 'pelanggan_email',
 'product_id': 'id_produk',
 'product_type_code': 'kode_jenis_produk',
 'product_name': 'nama_produk',
 'product_price': 'harga_produk',
 'date_from': 'tanggal_dari',
 'date_to': 'tanggal_ke',
 'order_id': 'id_pesanan',
 'order_status_code': 'kode_status_pesanan',
 'order_date': 'tanggal_pemesanan',
 'dept_store_id': 'id_dept_store',
 'store_name': 'nama_toko',
 'store_address': 'alamat_toko',
 'store_phone': 'toko_telepon',
 'store_email': 'toko_email',
 'department_id': 'id_departemen',
 'department_name': 'nama_departemen',
 'order_item_id': 'id_pesanan_barang',
 'date_supplied_from': 'tanggal_disediakan_dari',
 'date_supplied_to': 'tanggal_disediakan_ke',
 'total_amount_purchased': 'total_jumlah_dibeli',
 'total_value_purchased': 'total_nilai_dibeli',
 'date_assigned_from': 'tanggal_ditugaskan_dari',
 'job_title_code': 'kode_judul_pekerjaan',
 'date_assigned_to': 'tanggal_ditugaskan_ke',
 'Artist_ID': 'id_artis',
 'Artist': 'artis',
 'Famous_Title': 'terkenal_judul',
 'Famous_Release_date': 'tanggal_rilis_terkenal',
 'Volume_ID': 'id_volume',
 'Volume_Issue': 'volume_masalah',
 'Issue_Date': 'tanggal_terbitan',
 'Weeks_on_Top': 'minggu_di_top',
 'Song': 'lagu',
 'Music_Festival': 'musik_festival',
 'Date_of_ceremony': 'tanggal_upacara',
 'Category': 'kategori',
 'Volume': 'volume',
 'Result': 'hasil',
 'Customer_ID': 'id_pelanggan',
 'Customer_name': 'nama_pelanggan',
 'Service_ID': 'id_layanan',
 'Service_name': 'nama_layanan',
 'Policy_ID': 'id_kebijakan',
 'policy_type_code': 'kode_tipe_kebijakan',
 'Customer_Phone': 'pelanggan_telepon',
 'Date_Opened': 'tanggal_dibuka',
 'Date_Closed': 'tanggal_tutup',
 'FNOL_ID': 'id_fnol',
 'Claim_ID': 'id_klaim',
 'Effective_Date': 'tanggal_berlaku',
 'Settlement_ID': 'id_penyelesaian',
 'Settlement_Amount': 'penyelesaian_jumlah',
 'Film_ID': 'id_film',
 'Rank_in_series': 'peringkat_dalam_seri',
 'Number_in_season': 'nomor_dalam_musim',
 'Title': 'judul',
 'Directed_by': 'disutradarai_oleh',
 'Original_air_date': 'tanggal_udara_asli',
 'Production_code': 'kode_produksi',
 'Cinema_ID': 'id_bioskop',
 'Openning_year': 'pembukaan_tahun',
 'Capacity': 'kapasitas',
 'Show_times_per_day': 'waktu_tayang_per_hari',
 'Price': 'harga',
 'College_ID': 'id_perguruan_tinggi',
 'Leader_Name': 'pemimpin_nama',
 'College_Location': 'perguruan_tinggi_lokasi',
 'Member_ID': 'id_anggota',
 'Round_ID': 'id_putaran',
 'Decoration_Theme': 'dekorasi_tema',
 'Rank_in_Round': 'peringkat_dalam_putaran',
 'Phone_ID': 'id_telepon',
 'Memory_in_G': 'memori_in_g',
 'Carrier': 'pembawa',
 'Market_ID': 'id_pasar',
 'District': 'daerah',
 'Num_of_employees': 'jumlah_karyawan',
 'Num_of_shops': 'jumlah_toko',
 'Ranking': 'peringkat',
 'Num_of_stock': 'jumlah_stok',
 'product': 'produk',
 'dimensions': 'ukuran',
 'dpi': 'dpi',
 'pages_per_minute_color': 'halaman_per_menit_warna',
 'max_page_size': 'max_page_size',
 'interface': 'antarmuka',
 'Store_ID': 'id_toko',
 'Store_Name': 'nama_toko',
 'Area_size': 'ukuran_area',
 'Number_of_product_category': 'jumlah_kategori_produk',
 'District_ID': 'id_distrik',
 'District_name': 'nama_distrik',
 'Headquartered_City': 'berkantor_pusat_kota',
 'City_Population': 'kota_populasi',
 'City_Area': 'kota_area',
 'Product_ID': 'id_produk',
 'company_type': 'tipe_perusahaan',
 'company_name': 'nama_perusahaan',
 'company_address': 'alamat_perusahaan',
 'other_company_details': 'detail_perusahaan_lainnya',
 'maintenance_contract_id': 'id_pemeliharaan_kontrak',
 'maintenance_contract_company_id': 'id_maintenance_contract_company',
 'contract_start_date': 'tanggal_mulai_kontrak',
 'contract_end_date': 'tanggal_akhir_kontrak',
 'other_contract_details': 'detail_kontrak_lainnya',
 'part_id': 'id_bagian',
 'part_name': 'nama_bagian',
 'chargeable_yn': 'dikenakan_biaya_yn',
 'chargeable_amount': 'jumlah_yang_dapat_ditagih',
 'other_part_details': 'detail_bagian_lainnya',
 'skill_id': 'id_keterampilan',
 'skill_code': 'kode_keterampilan',
 'skill_description': 'deskripsi_keterampilan',
 'gender': 'jenis_kelamin',
 'other_staff_details': 'detail_staf_lainnya',
 'asset_id': 'id_aset',
 'supplier_company_id': 'id_pemasok_perusahaan',
 'asset_details': 'aset_detail',
 'asset_make': 'pembuatan_aset',
 'asset_model': 'aset_model',
 'asset_acquired_date': 'tanggal_diperoleh_aset',
 'asset_disposed_date': 'tanggal_aset_disposisi',
 'other_asset_details': 'detail_aset_lainnya',
 'engineer_id': 'id_insinyur',
 'first_name': 'nama_depan',
 'last_name': 'nama_belakang',
 'other_details': 'detail_lainnya',
 'fault_log_entry_id': 'id_kesalahan_log_entry',
 'recorded_by_staff_id': 'id_direkam_oleh_staff',
 'fault_log_entry_datetime': 'kesalahan_log_entry_datetime',
 'fault_description': 'kesalahan_deskripsi',
 'other_fault_details': 'detail_kesalahan_lainnya',
 'engineer_visit_id': 'id_insinyur_visit',
 'contact_staff_id': 'id_contact_staff',
 'fault_status': 'status_kesalahan',
 'visit_start_datetime': 'kunjungi_tanggal_mulai',
 'visit_end_datetime': 'waktu_kunjungan_akhir',
 'other_visit_details': 'detail_kunjungan_lainnya',
 'part_fault_id': 'id_part_fault',
 'fault_short_name': 'kesalahan_nama_pendek',
 'line_1': 'baris_1',
 'line_2': 'baris_2',
 'city': 'kota',
 'zip_postcode': 'zip_kode_pos',
 'state_province_county': 'negara_bagian_provinsi_kabupaten',
 'person_id': 'id_person',
 'middle_name': 'nama_tengah',
 'cell_mobile_number': 'nomor_ponsel_ponsel',
 'email_address': 'alamat_email',
 'login_name': 'nama_login',
 'password': 'kata_sandi',
 'student_id': 'id_siswa',
 'student_details': 'rincian_siswa',
 'course_name': 'nama_kursus',
 'course_description': 'deskripsi_kursus',
 'person_address_id': 'id_orang_alamat',
 'registration_date': 'tanggal_pendaftaran',
 'date_of_attendance': 'tanggal_kehadiran',
 'candidate_id': 'id_kandat',
 'candidate_details': 'id_kandat_detail',
 'qualification': 'kualifikasi',
 'assessment_date': 'tanggal_penilaian',
 'asessment_outcome_code': 'penilaian_hasil_kode',
 'breed_code': 'kode_breed',
 'breed_name': 'nama_breed',
 'charge_id': 'id_biaya',
 'charge_type': 'jenis_biaya',
 'charge_amount': 'biaya_jumlah',
 'size_code': 'kode_ukuran',
 'size_description': 'ukuran_deskripsi',
 'treatment_type_code': 'kode_tipe_pengobatan',
 'treatment_type_description': 'deskripsi_tipe_pengobatan',
 'owner_id': 'id_pemilik',
 'street': 'jalan',
 'state': 'negara',
 'zip_code': 'kode_pos',
 'home_phone': 'telepon_rumah',
 'cell_number': 'nomor_sel',
 'dog_id': 'id_dog',
 'abandoned_yn': 'ditinggalkan_yn',
 'age': 'usia',
 'date_of_birth': 'tanggal_lahir',
 'weight': 'berat',
 'date_arrived': 'tanggal_tiba',
 'date_adopted': 'tanggal_diadopsi',
 'date_departed': 'tanggal_berangkat',
 'professional_id': 'id_professional',
 'role_code': 'kode_peran',
 'treatment_id': 'id_pengobatan',
 'date_of_treatment': 'tanggal_pengobatan',
 'cost_of_treatment': 'biaya_pengobatan',
 'g_name': 'g_nama',
 'rating': 'peringkat',
 'most_popular_in': 'paling_populer_di',
 'artist_name': 'nama_artis',
 'preferred_genre': 'genre_pilihan',
 'f_id': 'id_f',
 'file_size': 'ukuran_file',
 'duration': 'lamanya',
 'formats': 'format',
 'song_name': 'nama_lagu',
 'genre_is': 'genre_is',
 'languages': 'bahasa',
 'releasedate': 'tanggal_rilis',
 'resolution': 'resolusi',
 'Graduation_College': 'wisuda_perguruan_tinggi',
 'Company_ID': 'id_perusahaan',
 'Headquarters': 'markas_besar',
 'Industry': 'industri',
 'Sales_in_Billion': 'penjualan_dalam_miliar',
 'Profits_in_Billion': 'untung_dalam_miliar',
 'Assets_in_Billion': 'aset_dalam_miliar',
 'Market_Value_in_Billion': 'nilai_pasar_dalam_miliar',
 'Year_working': 'tahun_bekerja',
 'City_ID': 'id_kota',
 'Official_Name': 'nama_resmi',
 'Status': 'status',
 'Area_km_2': 'luas_km_2',
 'Population': 'populasi',
 'Census_Ranking': 'peringkat_sensus',
 'Farm_ID': 'id_pertanian',
 'Total_Horses': 'total_kuda',
 'Working_Horses': 'bekerja_kuda',
 'Total_Cattle': 'total_sapi',
 'Oxen': 'sapi',
 'Bulls': 'banteng',
 'Cows': 'sapi',
 'Pigs': 'babi',
 'Sheep_and_Goats': 'domba_dan_kambing',
 'Competition_ID': 'id_kompetisi',
 'Theme': 'tema',
 'Host_city_ID': 'id_host_kota',
 'Hosts': 'tuan_rumah',
 'Address_ID': 'id_alamat',
 'Location_ID': 'id_lokasi',
 'Other_Details': 'lainnya_detail',
 'Product_Type_Code': 'kode_jenis_produk',
 'Product_Name': 'nama_produk',
 'Product_Price': 'produk_harga',
 'Party_ID': 'id_pesta',
 'Party_Details': 'pesta_detail',
 'Asset_ID': 'id_aset',
 'Channel_ID': 'id_saluran',
 'Finance_ID': 'id_keuangan',
 'Event_ID': 'id_acara',
 'Event_Type_Code': 'kode_jenis_peristiwa',
 'Product_in_Event_ID': 'id_produk_dalam_acara',
 'Role_Code': 'peran_kode',
 'Document_ID': 'id_dokumen',
 'Hanzi': 'hanzi',
 'Hanyu_Pinyin': 'hanyu_pinyin',
 'Regional_Population': 'regional_populasi',
 'GDP': 'pdb',
 'Match_ID': 'id_cocok',
 'Venue': 'lokasi',
 'Score': 'skor',
 'Competition': 'kompetisi',
 'Jan': 'januari',
 'Feb': 'februari',
 'Mar': 'merusak',
 'Apr': 'april',
 'Jun': 'juni',
 'Jul': 'juli',
 'Aug': 'agustus',
 'Sep': 'september',
 'Oct': 'oktober',
 'Nov': 'november',
 'Dec': 'desember',
 'Host_City': 'host_kota',
 'meter_100': 'meter_100',
 'meter_200': 'meter_200',
 'meter_300': 'meter_300',
 'meter_400': 'meter_400',
 'meter_500': 'meter_500',
 'meter_600': 'meter_600',
 'meter_700': 'meter_700',
 'Time': 'waktu',
 'Opening_year': 'pembukaan_tahun',
 'Stadium_ID': 'id_stadion',
 'Swimmer_ID': 'id_perenang',
 'uid': 'id_u',
 'Airline': 'perusahaan_penerbangan',
 'Abbreviation': 'singkatan',
 'AirportCode': 'kode_bandara',
 'AirportName': 'nama_bandara',
 'CountryAbbrev': 'negarasingkatan',
 'FlightNo': 'nomor_penerbangan',
 'SourceAirport': 'sumberbandara',
 'DestAirport': 'bandara_tujuan',
 'County_Id': 'id_kabupaten',
 'County_name': 'nama_kabupaten',
 'Zip_code': 'kode_pos',
 'Party': 'berpesta',
 'Governor': 'gubernur',
 'Lieutenant_Governor': 'letnan_gubernur',
 'Comptroller': 'pengawas',
 'Attorney_General': 'jaksa_agung',
 'US_Senate': 'as_senat',
 'Election_ID': 'id_pemilu',
 'Counties_Represented': 'kabupaten_diwakili',
 'Delegate': 'melimpahkan',
 'First_Elected': 'pertama_terpilih',
 'Committee': 'komite',
 'Code': 'kode',
 'Headquarter': 'kantor_pusat',
 'Founder': 'pendiri',
 'Revenue': 'pendapatan',
 'Debate_ID': 'id_debat',
 'Num_of_Audience': 'jumlah_pemirsa',
 'Affirmative': 'setuju',
 'Negative': 'negatif',
 'If_Affirmative_Win': 'jika_afirmatif_menang',
 'job': 'pekerjaan',
 'friend': 'teman',
 'Service_Type_Code': 'kode_jenis_layanan',
 'Participant_ID': 'id_peserta',
 'Participant_Type_Code': 'kode_jenis_peserta',
 'Participant_Details': 'peserta_detail',
 'Event_Details': 'acara_detail',
 'Mountain_ID': 'id_gunung',
 'Prominence': 'menonjol',
 'Range': 'jangkauan',
 'Climber_ID': 'id_pendaki',
 'Points': 'poin',
 'author_id': 'id_penulis',
 'author_tutor_ATB': 'penulis_tutor_atb',
 'personal_name': 'nama_pribadi',
 'family_name': 'nama_keluarga',
 'gender_mf': 'gender_mf',
 'address_line_1': 'alamat_line_1',
 'date_of_registration': 'tanggal_pendaftaran',
 'date_of_latest_logon': 'tanggal_masuk_terbaru',
 'subject_id': 'id_subjek',
 'subject_name': 'nama_subjek',
 'registration_id': 'id_registrasi',
 'date_of_enrolment': 'tanggal_pendaftaran',
 'date_of_completion': 'tanggal_penyelesaian',
 'date_test_taken': 'tanggal_tes_diambil',
 'test_result': 'hasil_tes',
 'SSN': 'ssn',
 'Hours': 'jam',
 'Scientist': 'ilmuwan',
 'Project': 'proyek',
 'Captain_ID': 'id_kapten',
 'Ship_ID': 'id_kapal',
 'Built_Year': 'dibangun_tahun',
 'Flag': 'bendera',
 'Festival_ID': 'id_festival',
 'Festival_Name': 'nama_festival',
 'Chair_Name': 'kursi_nama',
 'Artwork_ID': 'id_karya_seni',
 'Allergy': 'alergi',
 'AllergyType': 'tipe_alergi',
 'StuID': 'pelajar',
 'LName': 'lnama',
 'Fname': 'nama_panggilan',
 'Sex': 'seks',
 'Major': 'besar',
 'Advisor': 'penasihat',
 'city_code': 'kode_kota',
 'nationality': 'kebangsaan',
 'birth_city': 'kota_lahir',
 'birth_year': 'tahun_lahir',
 'msid': 'id_ms',
 'role': 'peran',
 'gid': 'id_g',
 'genre': 'genre',
 'country_code': 'kode_negara',
 'mid': 'pertengahan',
 'release_year': 'rilis_tahun',
 'title_aka': 'judul_aka',
 'sid': 'sisi',
 'num_of_seasons': 'jumlah_musim',
 'num_of_episodes': 'jumlah_episode',
 'wid': 'lebar',
 'coupon_id': 'id_kupon',
 'date_issued': 'tanggal_dikeluarkan',
 'coupon_amount': 'kupon_jumlah',
 'good_or_bad_customer': 'pelanggan_baik_atau_buruk',
 'date_became_customer': 'tanggal_menjadi_pelanggan',
 'date_last_hire': 'tanggal_penyewaan_terakhir',
 'booking_id': 'id_pemesanan',
 'booking_status_code': 'kode_status_pemesanan',
 'returned_damaged_yn': 'kembali_rusak_yn',
 'booking_start_date': 'tanggal_mulai_pemesanan',
 'booking_end_date': 'tanggal_pemesanan_akhir',
 'count_hired': 'hitungan_dipekerjakan',
 'amount_payable': 'jumlah_yang_harus_dibayar',
 'amount_of_discount': 'jumlah_of_diskon',
 'amount_outstanding': 'jumlah_luar_biasa',
 'amount_of_refund': 'jumlah_pengembalian_dana',
 'daily_hire_cost': 'biaya_sewa_harian',
 'product_description': 'deskripsi_produk',
 'payment_id': 'id_pembayaran',
 'payment_type_code': 'kode_jenis_pembayaran',
 'amount_paid_in_full_yn': 'jumlah_dibayar_dalam_penuh_yn',
 'payment_date': 'tanggal_pembayaran',
 'amount_due': 'jumlah_jatuh_tempo',
 'amount_paid': 'jumlah_dibayar',
 'returned_yn': 'kembali_yn',
 'returned_late_yn': 'kembali_terlambat_yn',
 'booked_count': 'jumlah_pesanan',
 'booked_amount': 'jumlah_yang_dipesan',
 'status_date': 'status_tanggal',
 'available_yn': 'tersedia_yn',
 'Candidate_ID': 'id_kandat',
 'Poll_Source': 'jajak_pendapat_sumber',
 'Support_rate': 'tingkat_dukungan',
 'Consider_rate': 'pertimbangkan_nilai',
 'Oppose_rate': 'menentang_nilai',
 'Unsure_rate': 'id_tak_yakin_nilai',
 'Date_of_Birth': 'tanggal_lahir',
 'AlbumId': 'id_album',
 'ArtistId': 'id_artis',
 'CustomerId': 'id_pelanggan',
 'FirstName': 'nama_depan',
 'LastName': 'nama_belakang',
 'Company': 'perusahaan',
 'Address': 'alamat',
 'State': 'negara',
 'PostalCode': 'kode_pos',
 'Phone': 'telepon',
 'Fax': 'fax',
 'Email': 'e-mail',
 'SupportRepId': 'id_dukunganrep',
 'EmployeeId': 'id_karyawan',
 'ReportsTo': 'laporanke',
 'BirthDate': 'tanggal_lahir',
 'HireDate': 'tanggal_sewa',
 'GenreId': 'id_genre',
 'InvoiceId': 'id_faktur',
 'InvoiceDate': 'tanggal_faktur',
 'BillingAddress': 'alamat_penagihan',
 'BillingCity': 'kota_penagihan',
 'BillingState': 'negara_penagihan',
 'BillingCountry': 'negara_penagihan',
 'BillingPostalCode': 'kode_pos_penagihan',
 'InvoiceLineId': 'id_baris_faktur',
 'TrackId': 'id_track',
 'UnitPrice': 'harga_satuan',
 'Quantity': 'kuantitas',
 'MediaTypeId': 'id_mediatype',
 'PlaylistId': 'id_daftar_putar',
 'Composer': 'komposer',
 'Milliseconds': 'id_miletik',
 'Bytes': 'byte',
 'rid': 'menyingkirkan',
 'dst_apid': 'id_dst_ap',
 'dst_ap': 'dst_ap',
 'src_apid': 'id_src_ap',
 'src_ap': 'src_ap',
 'alid': 'jujur',
 'airline': 'perusahaan_penerbangan',
 'codeshare': 'berbagi_kode',
 'apid': 'id_ap',
 'x': 'x',
 'y': 'kamu',
 'elevation': 'ketinggian',
 'iata': 'iata',
 'icao': 'icao',
 'callsign': 'tanda_panggil',
 'active': 'aktif',
 'PetID': 'id_hewan_peliharaan',
 'PetType': 'tipe_hewan_peliharaan',
 'pet_age': 'pet_age',
 'dormid': 'id_tertur',
 'dorm_name': 'nama_asrama',
 'student_capacity': 'kapasitas_siswa',
 'amenid': 'id_amen',
 'amenity_name': 'nama_fasilitas',
 'stuid': 'pelajar',
 'Journal_ID': 'id_jurnal',
 'Sales': 'penjualan',
 'Editor_ID': 'id_editor',
 'Work_Type': 'jenis_pekerjaan',
 'flno': 'flno',
 'origin': 'asal',
 'destination': 'tujuan',
 'distance': 'jarak',
 'departure_date': 'tanggal_keberangkatan',
 'arrival_date': 'tanggal_kedatangan',
 'price': 'harga',
 'eid': 'id_ul_fitri',
 'Trade_Name': 'nama_dagang',
 'FDA_approved': 'fda_disetujui',
 'Product': 'produk',
 'Chromosome': 'kromosom',
 'OMIM': 'omim',
 'Porphyria': 'porfiria',
 'enzyme_id': 'id_enzim',
 'medicine_id': 'id_obat',
 'interaction_type': 'tipe_interaksi',
 'customer_details': 'detail_pelanggan',
 'property_id': 'id_properti',
 'property_type_code': 'kode_tipe_properti',
 'property_address': 'properti_alamat',
 'resident_id': 'id_resen',
 'date_moved_in': 'tanggal_pindah_masuk',
 'date_moved_out': 'tanggal_pindah_keluar',
 'organization_id': 'id_organisasi',
 'parent_organization_id': 'id_induk_organisasi',
 'organization_details': 'organisasi_detail',
 'service_id': 'id_layanan',
 'service_type_code': 'kode_jenis_layanan',
 'service_details': 'detail_layanan',
 'date_requested': 'tanggal_diminta',
 'date_provided': 'tanggal_disediakan',
 'thing_id': 'id_benda',

In [17]:
extracted_all_schema = pd.read_csv('../../data/extracted/extracted_all_schema_words.csv')
extracted_all_schema

      unique_words
0                A
1               AA
2              AAA
3             AAAA
4              AAC
...            ...
42998      zlehner
42999         zops
43000           zr
43001     zullrich
43002           zx

[43003 rows x 1 columns]

In [18]:
def translate_word(word, translation_dict):
    return translation_dict.get(word, word)  # Jika kata ada di dict, ambil terjemahannya, jika tidak, kembalikan kata aslinya

# Mentranslate semua kata dalam kolom yang ingin ditranslate
extracted_all_schema['translated_words'] = extracted_all_schema['unique_words'].apply(lambda x: translate_word(x, dict))

output_filepath = '../../data/extracted/translated_all_schema_words.csv'
extracted_all_schema.to_csv(output_filepath, index=False)

# Menampilkan pesan konfirmasi
print(f"Hasil terjemahan telah disimpan ke file: {output_filepath}")

Hasil terjemahan telah disimpan ke file: ../../data/extracted/translated_all_schema_words.csv